/*
Style Sheet for Justice Banson
* version: 4.2
* last modified: 7.8.2020
* author: Max Wesson
* email: wessonm@wwu.edu
* website: Lesson 6.
 */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

//variables

$color-1: #22bbd4;
$color-2: #2c6e78;
$text-color: #fff;

* {
    box-sizing: border-box;
}
body{
    font-family: 'Nunito';
}
.box {
    font-weight: bold;
    padding: 0.8em;
    color: #fff;
    border: 1px solid $text-color;
}
.color-1 {
    background: $color-1;
}
.color-2 {
    background: $color-2;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 1rem;
}

// line placement // grid-columns
.header {
    // column span
    // grid-column-start: 1;
    // grid-column-end: 3;

    // row span
    // grid-row-start: 1;
    // grid-row-end: 3;

    // shorthand
    grid-column: 1/3;
    grid-row: 1/3;
}

.nav {
    grid-column: 3/4;
    grid-row: 1/3;
}

.footer {
    grid-column: 2/4;
}

// grid-template areas
.grid {
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "aside aside aside"
    "section section section"
    "footer footer footer";
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.section {
    grid-area: section;
}

.footer {
    grid-area: footer;
}
