:root{
    --main-color:#1aaba5;
    --text-white:#ffffff;
}
.banner{
    width: 1140px;
    height:500px;
    margin: 80px auto;
    position: relative;
}
.slider img{
    width: 100%;
    position: absolute;
}

